# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
*public/LICENSES.txt

# Node dependencies
node_modules

# Nuxt layers are generated at build time based on project configuration in .env
app/tsconfig.json

# config of firebase project
utils/firebaseConfig.ts
app/pnpm-lock.yaml

# dev notes
*__dev*

# Local env files
.env
.env.*
!.env.local
!.env.demo

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Yarn
.yarn/cache
.yarn/*state*

# Local History
.history

# VSCode
.vscode/