# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# bundle chunks
public/LICENSES.txt

# config
utils/firebaseConfig.ts

# dev notes
*__dev*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
