form.grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));

  & > *:not(.narrow) {
    grid-column: span 2;
  }

  @media (width >= 48rem) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    & > .wide {
      grid-column: span 3;
    }
    & > .wider {
      grid-column: span 4;
    }
  }
}
